# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake clutters
CMakeCache.txt
cmake_install.cmake
CMakeFiles/

# Ninja clutters
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# Visual Studio Clutters
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.pdb
*.recipe
*.ilk
*.tlog
.vs/
.cmake/
VSInheritEnvironments.txt

# Logs
*.log